<!-- made originally for lesson 19, routing -->
<!DOCTYPE HTML>

<html>
  <head>
    <link href ='/assets/styles.css' rel = "stylesheet" type='text/css'/>

  </head>

  <body>
    <h1>Contact Us</h1>
    <p>Thanks for getting in touch.</p>

    <p>You contacted <%= data.who %> in the <%= data.department %> department.</p>



  </body>
</html>
